:host {
  display: grid;
  place-items: center;
}

:host > * {
  grid-column: 1;
  grid-row: 1;
}

.hand {
  display: grid;
  grid-auto-columns: calc(var(--playing-card-width) * 0.5);
  grid-auto-flow: column;
}

.primary-border {
  outline-color: var(--theme-primary-color);
  outline-width: 2px;
  outline-style: solid;
}

::ng-deep .streak-tooltip {
  background-color: rgba(64, 64, 64, 0.9) !important;
  color: white !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  padding: 6px 8px !important;
}
